{% extends 'basic.html'%}
{% load crispy_forms_tags%}
{% block title %}Page 1
{% endblock title %}

{% block style %}


{% endblock style %}

{% block body %}
    <div class="jumbotron">
  <h1 class="display-4">Welcome to first Page</h1>
  <p class="lead">You have navbar above.
  There are two buttons above you can see login and sign up Above.
  If you have account click on login otherwise Signup
  </p>
  <p> In sign up you should have valid email , atleast 8 character password . Password should be numeric and contain alphabet also </p>
  
</div>
{% endblock body%}
{% block script %}


{% endblock script %}