/*

Darko Bunic
http://www.shivam.net/
Mar, 2012.

*/

body {
	font-family: arial;
	margin: 0px;
}

/* container */
#myContainer {
	margin: 20px auto;
	border: 2px dashed LightBlue;
	font-size: 10pt;
	display: table;
}

/* both tables */
div#myContainer table {
	/*border-collapse: collapse;*/
	border-collapse: separate;
	border-spacing: 1px;
}

/* toolbox table */
#toolbox {
	background-color: #ccc;
	margin: 7px 7px 15px 7px;
}

/* main table */
#mainTable {
	color: #777;
	background-color: #eee;
	margin: 7px;	
}

/* table cells */
div#myContainer td, div#myContainer th {
	    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    text-align: inherit;
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}

/* button styles */
.button {
	margin: 5px 10px;
	background-color: #6A93D4;
	color: white; 
	border-width: 1px;
	width: 50px;
	padding: 0px;
	font-size: 12px;
}
